.home-second{
   width: 100%;
   min-height: 100vh;
   box-sizing: border-box;
   background-color: rgb(183, 173, 173);
   color: black;
   padding: 100px 0;
   font-family: Arial, Helvetica, sans-serif;
   overflow-y: hidden;
}
.home-second-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    padding: 0 40px;
    justify-items: center;
    box-sizing: border-box;
}
.home-second-box-items1{
   width: 200px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
   transition: transform 0.2s;
}

.home-second-box-items1:hover{
    transform: scale(1.05);
}

.home-second-box-items1 p{
    color: rgb(107, 101, 101);
    font-weight: bold;
    font-size: 14px;
    margin: 2px 0;
}
.home-second-box-items1 h3{
    margin-bottom: 4px ;
    font-size: 16px;
}
.home-second-box-items1 img{
    width: 100%;
    height: 120px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 8px;
}
.add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    background-color: rgb(7,164,7);
    color: white;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.add-to-cart:hover{
    background-color: #246b44;
}
.add-to-cart .plus{
   font-size: 20px;
}




