.payment-page{
max-width: 500px;
margin: 40px auto;
padding: 25px;
background: #fff;
border-radius: 14px;
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
border: 1px solid #eee;
font-family: "Poppins",Arial,sans-serif;
}

.payment-page h1{
 font-weight: 700;
 font-size: 26px;
 text-align: center;
 margin-bottom: 20px;
}
.payment-info{
margin-top: 20px;
font-weight: 600;
font-size: 18px;
color: green;
text-align: center;
}

.payment-list{
margin-top: 10px;
width: 100%;
}

.payment-item{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 padding: 12px 5px;
 font-size: 16px;
 border-bottom: 1px solid #ddd;
}

.pay-btn{
 width: 100%;
 padding: 12px;
 font-size: 16px;
 font-weight: 600;
 background: green;
 color: white;
 border: none;
 border-radius: 10px;
 cursor: pointer;
 margin-top: 25px;
 transition: 0.2s;
}

.pay-btn:hover{
    background: #0a7a0a;
}

.payment-back-button{
      position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    padding: 8px 14px;
    border: none;
    color: #3498db;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    font-size: 16px;
    z-index:1000;
}

.payment-back-button:hover{
    background: gainsboro;
}

.p-name{
text-align: left;
}
.p-qty{
text-align: center;
font-weight: 600;
}
.p-price{
text-align: right;
font-weight: 600;
}
.address-box{
    background: #fafafa;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.address-box h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.address-box input,.address-box textarea{
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   font-size: 14px;
   border: 1px solid #ccc;
   border-radius: 8px;
   outline: none;
}