.footer{
    background-color: #111;
    color: white;
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
     border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    overflow: hidden;
}

.footer h2{
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #4caf50;
    display: inline-block;
    padding-bottom: 5px;
}

.footer p,.footer li{
 font-size: 15px;
 list-style: none;
 margin: 5px 0;
}

.footer ul{
    padding: 0;
    margin: 0;
}

.footer-contacts .ul1{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 10px;
}

.footer-contacts .ul1 li{
    background-color: #333;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}

.footer-contacts .ul1 li:hover{
    background-color: #4caf50;
}

.footer-fruitmart .footer-images{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-fruitmart .footer-images img{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    object-fit: cover;
    transition: 0.3s;
}

.footer-fruitmart .footer-images img:hover{
    transform: scale(1.05);
}

.footer hr{
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #555;
    margin-top: 30px;
}

.footer-last{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #aaa;
    margin-top: 10px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

