.admin-sidebar{
  width: 220px;
  height: 100vh;
  background: #2c3e50;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;

}
.admin-title{
color: #fff;
text-align: center;
margin-bottom: 20px;
font-size: 20px;
font-weight: bold;
}
.admin-menu{
list-style: none;
padding: 0;
}
.admin-menu li{
    margin: 15px 0;
}
.admin-menu li a{
    text-decoration: none;
    color: #ecf0f1;
    font-size: 16px;
    padding: 10px;
    display: block;
    border-radius: 6px;
}
.admin-menu li a:hover{
    background: #34495e;
}

.logout-btn{
    margin-top: auto;
    padding: 12px;
    color: white;
    background-color: #d9534f;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.logout-btn:hover{
    background-color: #c9302c;
}