.admin-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.sidebar{
   width: 220px;
   padding: 20px;
   background: #f0f0f0;
   border-right: 2px solid #ddd;
}
.sidebar h2{
    margin-bottom: 20px;
}

.sidebar button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border: 1px solid #bbb;
    cursor: pointer;
    border-radius: 5px;
}
.sidebar button:active{
    color: white;
    background: #3b82f6;
}

.content{
    width: 100%;
    padding: 20px;
}

.search-container{
    display: flex;
    gap: 10px;
}
.search-input{
    padding: 8px 12px;
    border: 1px solid #aaa;
    border-radius: 6px;
    width: 200px;
}
.search-btn{
    background-color: #27ae60;
    border: none;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.search-btn:hover{
    background-color: #1e874b;
}

.add-btn{
  background: green;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.gridcontainer{
display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 15px;
}

.gridbox{
   background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.action-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.edit-btn, .delete-btn{
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: 0.2s ease;
}

.edit-btn{
    background-color: #3498db;
    color: white;
}
.edit-btn:hover{
    background-color: #2980b9;
}

.delete-btn{
    background-color: #e74c3c;
    color: white;
}
.delete-btn:hover{
    background-color: #c0392b;
}
