.register-page{
    height: 100vh;
    width: 100vw;
    background-image: url('../Images/Fruitsback3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.register-box{
 width: 350px;
 padding: 40px 35px;
 background: rgba(255, 255, 255, 0.3);
 backdrop-filter: blur(7px);
 border-radius: 22px;
 box-shadow: 0 8px 22px rgba(0, 0, 0, 0.3);
 text-align: center;
}
.register-box h1{
    color: #2b3a55;
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-weight: 700;
}
.register-box input{
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    background: white;
    color: #333;
    outline: none;
    font-size: 15px;
    transition: 0.3s ease; 
}
.register-box input:focus{
    border-color: #2b7a2e;
    box-shadow: 0 0 8px rgba(43, 122, 46, 0.25);
}

.register-btn{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #2b7a2e;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}
.register-btn:hover{
    background-color: #1d531f;
    transform: translateY(-2px);
}




